body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,h2,h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 7% 15%;
}

/* Headings  */

.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem !important;
    line-height: 1.5 !important;
}

.section-heading {
    font-size: 3rem !important;
    line-height: 1.5 !important;
}

/* Navigation Bar  */

.navbar {
    padding-bottom: 4.5rem !important;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem !important;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem !important
}

/* Download button */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title image  */

#title {
    background-color: #A66CFF;
    text-align: left; 
}

#title .container-fluid{
    padding: 3% 15% 7%;
}

.title-image {
    width: 80%;
    height: 80%;
    margin-left: 2rem;
    /* position: absolute; */
    right: 30%;
    border-radius: 10px;
}

/* Features Section  */

#features {
    background-color: #fff;
    /* position: relative; */
    padding: 7% 15%;
}

.feature-title {
    font-size: 1.5rem !important;


}

.feature-box {
    padding: 5%;
    text-align: center;

}

.icon {
    color: #9C9EFE;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #A66CFF;
}

/* Testimonials Section */

.carousel-item {
    padding: 5% 28%;
    text-align: center;

}

#testimonials {
    background-color: #A66CFF;
}

.testimonial-text {
    font-size: 3rem !important;
    line-height: 1.5 !important;
}

.testimonial-image1 {
    width: 27%;
    border-radius: 100%;
    margin: 20px;
}
.testimonial-image2 {
    width: 22%;
    border-radius: 100%;
    margin: 20px;
}


/* Press Section  */

#press {
    background-color: #A66CFF;
    padding-bottom: 3%;
    text-align: center;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem !important;
    line-height: 1.5 !important;

}

/* CTA Section  */

#cta {
    background-color: #A66CFF;
    text-align: center;
}


/* Footer Section  */

#footer {
    text-align: center;
}

.social-icon {
    padding: 20px 10px;
}

.link{
    color: black;
}

/* Mobile friendly or Responsive  */

@media (max-width: 990px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        /*it means the image will not be cut off if the desktop size is reduced*/
        height: 95%;
        border-radius: 10px;
    }
}







/* Contact Page */

#wrapper{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background: linear-gradient(-45deg,#A66CFF,#A66CFF);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.form{
	width: 440px;
	height: 77vh;
	min-height: 450px;
	border-radius: 10px;
	box-shadow:  3px 3px 56px black;
             /*-13px -13px 26px #306b68;*/
}
.form h2{
	padding: 20px;
	text-align: center;
	color: black;
}
.form input,textarea{
	border: none;
	border-radius: 5px;
	margin-left: 2%;
	width: 80%;
	padding: 5px 5%;
	margin-top: 10px;
	height: 40px;
	color: black;
	background: white;
}
.form button{
	margin: 5%;
	border: none;
	background: transparent;
	padding: 10px 20px;
	box-shadow:  1px 1px 6px black;
	border-radius: 5px;
	color: black;
    cursor: pointer;
}

.form button:hover{
    background-color: #8b58d7;
    color: whitesmoke;
    
}


.contact-style{
    font-family: 'Josefin Sans', sans-serif;
}